<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.orgmanager.mapper.TOrmorgdzMapper">

    <update id="updateOrgAddress" parameterType="com.zeroone.star.orgmanager.entity.TOrmorgdz">
        UPDATE t_ormorgdz
        SET ormorgdzname=#{ormorgdzname},
            updateman=#{updateman},
            updatedate=#{updatedate}
        WHERE ormorgid = #{ormorgid}
    </update>

    <select id="selectOrgAddress" parameterType="com.zeroone.star.project.query.PageQuery" resultType="com.zeroone.star.project.j3.dto.orgmanager.OrgAddressDTO">
        SELECT a.XH,b.ORGNAME, a.ORMORGDZNAME
        FROM t_ormorgdz a
                 JOIN t_srforg b ON a.ORMORGID = b.ORGID
        WHERE b.ORGNAME LIKE CONCAT('%', IFNULL(#{orgname}, ''), '%')
        ORDER BY a.XH ASC;
    </select>
</mapper>
