<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

   <mapper namespace="com.zeroone.star.sysmanager.mapper.RoleMenuMapper">

        <update id="assignMenu">
            UPDATE role_menu
            SET menu_id = #{menuId}
            WHERE role_id = #{roleId}
        </update>

        <update id="deleteMenu">
            UPDATE role_menu
            SET menu_id = #{menuId}
            WHERE role_id = #{roleId}
        </update>

        <select id="getMenuIdsByRoleId" resultType="string">
            SELECT menu_id
            FROM role_menu
            WHERE role_id = #{roleId}
        </select>

    </mapper>