[mysqld]
secure-file-priv=NULL
# [必须] 服务器唯一ID，默认是1，一般取IP最后一段  
server-id=3

# [必须] 开启二进制日志功能，以备Slave作为其它Slave的Master时使用
log-bin=zos-mysql-bin

# [可选] 设置需要忽略同步的数据库
# 需要忽略多个数据库，配置多行即可，比如：
# replicate-ignore-db=db1
# replicate-ignore-db=db2
# replicate-ignore-db=db3
# MySQL5.7或更低版本这样配置：replicate-ignore-db=db1,db2,db3
# 这里配置忽略mysql库的同步
replicate-ignore-db=mysql

# [可选] 设置需要同步的数据库
# 需要同步多个数据库，配置多行即可，比如：
# replicate-do-db=db1
# replicate-do-db=db2
# replicate-do-db=db3
# MySQL5.7或更低版本这样配置：replicate-do-db=db1,db2,db3
# 如果不设置此项配置，表示同步除了replicate-ignore-db设置的忽略的库外所有库

# [可选] 设置二进制日志使用内存大小（事务）
binlog_cache_size=1M

# [可选] 设置使用的二进制日志格式（mixed,statement,row）
binlog_format=mixed

# [可选] 二进制日志过期清理时间,这里设置为7天(86400 * 7)
binlog_expire_logs_seconds=604800

# [可选] 跳过主从复制中遇到的所有错误或指定类型的错误，避免slave端复制中断。
# 如：1062错误是指一些主键重复，1032错误是因为主从数据库数据不一致
slave_skip_errors=1062

# slave设置为只读（具有super权限的用户除外）
read_only=1